.btn {
  width: 100px;
  height: 100px;

}

.btn-func {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-accent;
  }
}

.btn-close-product-card {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-accent;
  }
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: $color-accent;
}

.btn-send {
  font-size: 0;
  border: none;
  transform: rotate(90deg);
  background-image: url('../img/btn-to.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  background-color: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.95;

  &:hover {
    opacity: 1;
  }
}