header {
    background: rgba($color: $color-white, $alpha: 0.6);
    height: 108px;
    position: relative;   
    transition: 0.4s;

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @media only screen and (min-width: 768px) {
            height: 88px;
            justify-content: space-between;
        }
    }

    .cbutton {
        margin: 0;
        height: 100%;
    }

    @media only screen and (min-width: 768px) {
        height: 88px;
    }
}

.logo {
    font-weight: 300;
    font-size: 12px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    img {
        width: 150px;
    }

    @media only screen and (min-width: 768px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.head-email {
    @extend .btn-circle;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: 0.2s;

    svg {
        width: 100%;
        height: 100%;
      }

    @media only screen and (min-width: 768px) {
        position: static;
        transform: none;
    }
}



