.cont-products {
    display: flex;
    align-items: center;
    padding-right: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    transition: 0.4s;

    @media only screen and (min-width : 768px){
        align-items: flex-start;
        background-image: url(../img/main-bg-desc.jpg);
        overflow: scroll;
        padding-top: 50px;
        padding-right: 30px;
    }
}

.container-main-group-products {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: 0.3s;

    @media only screen and (min-width: 768px) {
        max-width: 170px;
        padding-right: 15px;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
    }
}
.container-main-group-products.opacity {
    opacity: 0;
}

.main-group-products {
    &_item__empty {
       opacity: 0;

       @media only screen and (min-width: 768px) {
            display: none; 
       }
    }

    .main-group-products_item + .main-group-products_item {
        @media only screen and (min-width: 768px) {
            margin-top: 20px;
        }
    }

    &_item {
        cursor: pointer;
        img {
            filter: brightness(0.9);

            @media only screen and (min-width: 768px) {
                &:hover {
                    filter: brightness(1);
                }
            }
        }
    }

    &_item__active-desc {
        @media only screen and (min-width: 768px) {
            color: $color-white;

            .main-group-products_item__bg {
                border: 2px solid $color-white;
            }

            p {
                font-size: 20px;
                transition: 0.6s;
            }
        }
    }

    &_item__bg {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        mask-image: linear-gradient(white, black);
        transition: 0.2s;

        img {
            width: 100%;
            transition: 0.2s;
        }

        @media only screen and (min-width: 768px) {
            height: 100px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        padding-top: 5px;
    }


    // style for slick-slider elements
    .slick-current + .slick-slide {
        color: $color-white;

        .main-group-products_item__bg {
            border: 2px solid $color-white;
        }
        
        p {
            font-size: 20px;
            transition: 0.6s;
        }
    }
}

// arrow button
.slick-arrow-container {
    display: flex;
    justify-content: center;
    
    .slick-arrow {
        font-size: 0;
        width: 50px;
        height: 50px;
        background: url('../img/btn-to.svg');
        border: none;
        margin: 10px 5px;
        opacity: 0.7;
        transition: 0.2s;
    
        &:hover {
            opacity: 1;
        }
    }
    .slick-prev {
        order: 3;
        transform: rotate(180deg);
    
        &:hover {
            transform: rotate(180deg) scale(1.1);
        }
    }
    .slick-next {
        &:hover {
            transform: scale(1.1);
        }
    }
}


// list-subgroup-products
.container-subgroup-products {
    flex: 1;
    position: relative;
    height: 100%;
    transition: 0.3s;

    @media only screen and (min-width: 768px) {
        width: 170px;
        height: 100vh;
        overflow-y: auto;
        padding-right: 15px;
    }
}
.container-subgroup-products.active {
    transform: translateX(calc(-100% - 15px));
}
.list-subgroup-products {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    color: $color-white;
    font-weight: 300;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 95%;
    overflow-y: auto;

    li {
        display: inline-block;
        padding-bottom: 7px;
        padding-top: 2px;
        display: inherit;
        cursor: pointer;

        &:hover {
            &::after {
                width: 100%;
                transition: 0.2s;
            }
        }

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 0%;
            background: $color-white;
        }
    }
    li.active {
        &::after {
            width: 100%;
        }
    }
}