#block-menu {
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 108px;
  padding-top: 29px;

  @media only screen and (min-width : 768px){
    padding-top: 15px;
    top: 100%;
    padding-top: 0;
    min-height: auto;
  }
}

.menu {
  position: absolute;
  z-index: 10;
  top: 100%;
  display: none;
  width: calc(100%);
  left: 0;
  background: rgba($color: $color-white, $alpha: 0.9);
  padding-top: 10px;
  padding-bottom: 10px;

  @media only screen and (min-width : 768px){
    display: flex !important;
    justify-content: center;
  }

  li {

  }

  a {
    display: block;
    padding: 6px 15px;
    font-weight: 900;
    color: $main-color;
    transition: 0.2s;

    @media only screen and (max-width: 767px) {
      &:hover {
        background: rgba($color: $color-gray, $alpha: 0.7) !important;
        color: $color-accent;
        padding-left: 25px;
      }
    }
    &:hover {
      color: $color-accent;
    }

  }
  a.active {
    color: $color-accent;
  }
}

.active-menu {
  display: block;
}

.has-submenu {
  position: relative;
  padding-right: 30px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 10px;
    height: 10px;
    background: url("../img/prev-next.svg");
    background-size: contain;
    transition: 0.2s;
  }

  &:hover {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.submenu {
  display: none;

  @media only screen and (min-width : 768px){
    position: absolute;
  }
}

/************mob-btn*************/
.mob-btn {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;

  @media only screen and (min-width : 768px){
    display: none;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.active-mob-btn {
  transform: translateY(-50%) rotate(90deg);
}