.not-product-window {

    @media only screen and (min-width: 768px) {
      background: rgba($color: #fff, $alpha: 0.7);
      max-width: 300px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
      padding: 25px 20px 15px 20px;
    }

    p.title-window {
        font-weight: 700;
        font-style: 20px !important;
    }
    p {
        font-weight: 300;
        text-align: center;
    }
}