// стили карточки товара
.product-card {
    @extend .max-width;
    z-index: 1000;
    position: absolute;
    height: 100vh;
    overflow-y: auto;
    right: -100%;
    top: 0;
    background-color: $color-white;
    padding-top: 10px;
    transition: 0.4s;

    @media only screen and (min-width: 768px) {
        width: 70%;
        transition: 0.6s;
    }

    &-head {
        position: relative;
    }

    &-title {
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        padding-bottom: 5px;
    }

    &-tabs {
        li {
            color: $main-color;
        }

        li.active {
            color: $color-accent;
        }
    }

    .btn-close-product-card {
        z-index: 1000;
        position: absolute;
    }

    .tabs__caption li {
        font-size: 18px;
        font-weight: 700;
    }
}
.product-card.active {
    position: relative;
    z-index: 1000;
    opacity: 1;
    right: 0;

    @media only screen and (min-width: 768px) {
        position: absolute;
        left: 0;
        transition: 0.4s;
    }
}

.overlay {
    z-index: -1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $main-color;
    transition: 0.6s;
}
.overlay.active{
    z-index: 1000;
    opacity: 0.5;
}

.gallery-product {
    margin-top: 10px;

    &--item {
        border-radius: 10px;
        overflow: hidden;
        margin: 0 10px;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        padding-top: 10px;

        button {
            font-size: 0;
            background-color: rgba($color: $color-gray, $alpha: 5.0);
            border: none;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin-left: 2px;
            margin-right: 2px;
            outline: none;
        }

        button.active {
            background-color: rgba($color: $color-accent, $alpha: 1.0);
        }
    }

    .owl-nav {
        display: flex;
        justify-content: center;

        button {
            font-size: 0 !important;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            outline: none;
            background-image: url(../img/btn-to.svg) !important;
            background-size: 100% !important;
            margin: 3px 5px 0;
        }
        button.disabled {
            opacity: 0.8;
        }

        .owl-prev {
            transform: rotate(-90deg);
        }
        .owl-next {
            transform: rotate(90deg);
        }
    }

}

// tabs
.product-card-tabs {
    .tabs__caption {
        li {
            margin: 0 5px;
            transition: 0.2s;

            @media only screen and (min-width: 768px) {
              &:hover {
                  color: $color-accent;
              }
            }
        }

        li::before {
            content: '';
            width: 0;
            height: 1px;
            background-color: $color-accent;
            left: 50%;
            bottom: -2px;
            transform: translateX(-50%);
            transition: 0.2s;
        }
        li.active::before {
            width: 100%;
        }
    }
    .tabs__content {
        padding: 0 9px;
        font-weight: 300;
    }
}