
.box-tabs-content {
    max-height: 93vh;
    overflow-y: auto;
}

.reviews-list {
    padding-bottom: 104px;
}

.review {
    padding-bottom: 20px;

    &_author {
        font-style: italic;
        padding-left: 15px;
    }

    &_date {
        @include fontSize(14px);
    }

    &_text {
        background-color: rgba($color: $color-gray, $alpha: 0.4);
        padding: 20px 15px;
        border-radius: 10px;
        display: inline-block;
        line-height: 1.5;
    }

    // create form
    &_form {
        @include fontSize(16px);
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        padding-bottom: 20px;
        width: calc(100% - 48px);
        background: rgba($color: #fff, $alpha: 0.8);
        border-radius: 10px;
        transition: 0.2s;

        @media only screen and (min-width: 768px) {
            width: calc(70% - 78px);
        }
    }

    &_firstname {
        @include fontSize(16px);
        font-style: italic;
        font-weight: 300;
        background-color: rgba($color: $color-gray, $alpha: 0.6);
        border: none;
        border-radius: 10px;
        padding: 15px 15px 30px;
        margin-bottom: -15px;
    }

    &_message-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $color-white;
        border: 1px solid #979797;
        border-radius: 20px;
        padding: 2px 2px 2px 10px;
    }

    &_message {
        @include fontSize(16px);
        width: calc(100% - 30px);
        border: none;
        padding: 5px;
        font-weight: 300;
    }
}

.get-reviews {
    position: relative;

    .count-reviews {
        position: absolute;
        top: -15px;
        right: -5px;
        background: $color-accent;
        border-radius: 3px;
        color: $color-white;
        padding: 2px 5px;
        font-size: 14px;
    }
    .count-reviews.hidden {
        display: none;
    }
}