.search-form.active {
  z-index: 1000;
}

.search-form {
    display: none;
    position: relative;
    
    &::before {
        @extend .btn-circle;
        content: '';
        margin-right: -25px;
    }
    
    @media only screen and (min-width: 768px) {
        display: flex;
    }
}
  
  .search_input {
    height: 50px;
    background-color: $color-accent;
    color: $color-white;
    border: none;

    &::-webkit-input-placeholder {
      color: $color-placholder-search;
      opacity: 1;
    }
    
    &:-moz-placeholder {
      color: $color-placholder-search;
      opacity: 1;
    }
    
    &::-moz-placeholder {
      color: $color-placholder-search;
      opacity: 1;
    }
    
    &:-ms-input-placeholder {
      color: $color-placholder-search;
      opacity: 1;
    }
  }
  
  .btn-search {
    @extend .btn-circle;
    font-size: 0;
    margin-left: -25px;
    background-image: url('../img/search.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
        background-size: 25px 25px;;
    }
  }