
.popup-search {
    z-index: -1;
    opacity: 0;
    max-width: 650px;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;

    .btn-close {
        position: absolute;
        left: 15px;
        top: 15px;
    }

    .container {
        max-width: 550px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        @include fontSize(22px);
        font-weight: 900;
        text-align: center;
        padding-bottom: 20px;
    }
    &__count {
        @include fontSize(18px); 
        position: relative;
        padding-bottom: 15px;

        &::before {
            content: '';
            position: absolute;
            bottom: 10px;
            width: 100%;
            height: 1px;
            background-color: $color-lite-gray;
        }
    }

    &__list {
        overflow-y: auto;
        max-height: 50vh;
    }


}

.search-list {
    &__item {
        position: relative;
        background-color: $color-lite-gray;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            background-color: #eeeeee; 
        }
    }

    &__item_bg {
        display: flex;
        width: 72px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__item_content {
        padding-left: 15px;
        @include fontSize(18px);
    }

    &__item_title {
        font-weight: 700;
        padding-bottom: 5px;
    }
    &__item_desctiption {
        font-weight: 300;
    }

    .btn-enter {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
    }
}