.sidebar-products {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: $color-white;
    padding: 5px 10px 15px;
    width: 60%;
    height: 100vh;
    transition: 0.3s;

    @media only screen and (min-width: 768px) {
        width: calc(100% - 340px);
        position: static;
        height: 100vh;
        overflow-y: auto;
        background-color: rgba($color: #fff, $alpha: 0);
        padding-left: 0;
        padding-right: 0;
    }
}
.sidebar-products.active {
    right: 0;
}

.title-group {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 8px;
    color: $color-accent;

    @media only screen and (min-width: 768px) {
        color: $color-white;
        font-size: 24px;
        text-align: left;
    }
}

.slider-products {
    height: 100%;

    &-item--bg {
        border-radius: 10px;
        overflow: hidden;
        mask-image: linear-gradient(white, black);

        @media only screen and (min-width: 768px) {
            position: relative;
            transition: 0.2s;
        }
    }

    img {
        width: 100%;

        @media only screen and (min-width: 768px) {
            transform: scale(1.1);
            transition: 5s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .slick-slide {
        padding-left: 5px;
        padding-right: 5px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        li {
            padding-left: 3px;
            padding-right: 3px;
        }
        button {
            font-size: 0;
            background-color: rgba($color: $color-gray, $alpha: 5.0);
            border: none;
            border-radius: 50%;
            width: 10px;
            height: 10px;
        }

        .slick-active button {
            background-color: rgba($color: $color-accent, $alpha: 1.0);
        }
    }

    p {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 10px;
        transition: 0.2s;
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        flex-flow: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        margin-left: -7px;
        margin-right: -7px;
    }

    &-item {
        width: 100%;
        transition: 0.4s;
        cursor: pointer;

        @media only screen and (min-width: 768px) {
            width: calc(50% - 14px);
            margin-left: 7px;
            margin-right: 7px;
            color: $color-white;

            p {
                opacity: 0.8;
            }

            &:hover {
                p {
                    opacity: 1;
                }
                // color: $color-accent;
            }
        }
        @media only screen and (min-width: 1140px) {
            width: calc(33.33% - 14px);
            margin-left: 7px;
            margin-right: 7px;
        }
    }

}

// btn close sidebar
.btn-close-sidebar {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: -60px;
    background: 0;
    border: none;
    width: 50px;
    height: 50px;
    padding: 0;
    transition: 0.3s;
    
    svg {
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }
}
.btn-close-sidebar.active {
    z-index: 1;
    opacity: 100;
}