
@keyframes animat-btn {
  0% {
    //opacity: 1;
    transform: scale(1.2);
  }

  100% {
    //opacity: 0.2;
    transform: scale(1.0);
  }
}

@keyframes animat-validate-form {
  0% {
    *::-webkit-input-placeholder {
      color: $color-placholder;
    }
    
    *:-moz-placeholder {
      color: $color-placholder;
    }
    
    *::-moz-placeholder {
      color: $color-placholder;
    }
    
    *:-ms-input-placeholder {
      color: $color-placholder;
    }
  }

  50% {
    *::-webkit-input-placeholder {
      color: $color-accent;
      opacity: 0.5;
    }
    
    *:-moz-placeholder {
      color: $color-accent;
      opacity: 0.5;
    }
    
    *::-moz-placeholder {
      color: $color-accent;
      opacity: 0.5;
    }
    
    *:-ms-input-placeholder {
      color: $color-accent;
      opacity: 0.5;
    }
  }

  100% {
    *::-webkit-input-placeholder {
      color: $color-placholder;
    }
    
    *:-moz-placeholder {
      color: $color-placholder;
    }
    
    *::-moz-placeholder {
      color: $color-placholder;
    }
    
    *:-ms-input-placeholder {
      color: $color-placholder;
    }
  }
}

.btn {
  //background-color: green;
  //animation: animat-btn 0.2s ease 0.3s infinite alternate; // сокращенная запись

  //animation-name: animat-btn; // название
  //animation-duration: 0.2s; // продолжительность
  //animation-timing-function: ease; // скоростной режим
  //animation-delay: 0.3s; // задержка перед выполнением
  //animation-iteration-count: infinite; // количество циклов анимации
  //animation-direction: alternate; // направление анимации
}

.validate-name, .validate-message {
  // animation: animat-validate-form 0.2s ease 0.3s 1 alternate;
  *::-webkit-input-placeholder {
    color: $color-accent;
  }
  
  *:-moz-placeholder {
    color: $color-accent;
  }
  
  *::-moz-placeholder {
    color: $color-accent;
  }
  
  *:-ms-input-placeholder {
    color: $color-accent;
  }
}