@import "bourbon";

//HelveticaNeue
@include font-face("helveticaneue", "../fonts/HelveticaNeue/Thin/HelveticaNeueCyr-Thin", 200, $file-formats: eot woff woff2 ttf);
@include font-face("helveticaneue", "../fonts/HelveticaNeue/Light/HelveticaNeueCyr-Light", 300, $file-formats: eot woff woff2 ttf);
// @include font-face("helveticaneue", "../fonts/HelveticaNeue/UltraLight/HelveticaNeueCyr-UltraLight", 300, $file-formats: eot woff woff2 ttf);
@include font-face("helveticaneue", "../fonts/HelveticaNeue/Normal/HelveticaNeueCyr-Roman", 400, $file-formats: eot woff woff2 ttf);
@include font-face("helveticaneue", "../fonts/HelveticaNeue/CondensedBold/HelveticaNeueBoldCondensed", 700, $file-formats: eot woff woff2 ttf);
@include font-face("helveticaneue", "../fonts/HelveticaNeue/CondensedBlack/HelveticaNeueBlackCondensed", 900, $file-formats: eot woff woff2 ttf);

//Font Awesome
//@import "../fonts/font-awesome/scss/font-awesome";
//@include font-face("FontAwesome", "../fonts/font-awesome/fonts/fontawesome-webfont",  $file-formats: svg eot woff woff2 ttf);