@import "bourbon";

//var font-family
$default-font: 'helveticaneue', sans-serif;

//var colors
$main-color: #000;
$color-accent: #F5515F;
$color-gray: #D8D8D8;
$color-white: #fff;
$color-lite-gray: #f1f1f1;
$color-placholder-search: rgba(255,255,255,0.8);
$color-placholder: #4a4a4a;

//var width
$min-width: 270px;
$max-width: 1440px;

